.footer{
    padding-bottom: 60px;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 42px;
        border-bottom: 2px solid #666666;
        margin-bottom: 60px;
    }
    &__contact{
        display: flex;
        align-items: center;
        gap: 0 48px;
        &-link{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #42446E;
            
        }
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu{
            &__list{
                gap:10px 52px;
            }
            &__link{
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                color: #42446E;
                
            }
        }
    }
    &__copyright{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #666666;
        mix-blend-mode: normal;
        .me{
            background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            mix-blend-mode: normal;   
        }
        .important{
            color: #E70FAA;
        }
    }
}

@media screen and (max-width:1200px){
    .footer{
        padding-bottom: 20px;
        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 22px;
            border-bottom: 2px solid #666666;
            margin-bottom: 30px;
        }
        &__contact{
            gap: 0 28px;
           
        }
        &__bottom{
            align-items: unset;
            justify-content: unset;
            flex-direction: column;
            gap: 20px;
           
        }
    }
}
@media screen and (max-width:768px){
    .footer{
        &__logo{
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }

       
        &__contact{
            gap: 5px;
            flex-direction: column;
            &-link{
                font-size: 15px;
            }
           
        }
        &__bottom{
            align-items: unset;
            justify-content: unset;
            flex-direction: column;
            gap: 10px;
        }
        &__copyright{
            font-size: 13px;
        }

        .menu{
            &__list{
                justify-content: unset;
                gap:5px 10px;
            }
        }
    }
}