.intro{
    margin-bottom: 200px;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    
    h1{
        max-width: 651.85px;
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 70px;
        letter-spacing: -1px;
        color: #42446E;
        span{
            display: block;
        }
        .name{
            background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

        }
       
    }
    &__img{
        max-width: 357.7px;
        width: 100%;
        height:349px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        img{
            height: 100%;
        }
    }
}

@media screen and (max-width:1200px) {
    .intro{
        margin-bottom: 100px;
        &__row{
            flex-direction: column-reverse;
            justify-content: unset;
            align-items: center;
            gap: 50px;
        }
        h1{
            font-size: 48px;
            line-height: 60px;
            text-align: center;
        }
        &__img{
            height:249px;
        }
    }
}
@media screen and (max-width:768px) {
    .intro{
        margin-bottom: 40px;
        &__row{
            gap: 40px;
        }
        h1{
            font-size: 35px;
            line-height: 40px;
            text-align: center;
        }
        &__img{
            height:200px;
        }
    }
}