.project{
    margin-bottom: 203px;
    &__row{
        margin-top: 96px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 62px 47px;
    }
}

.item-project{
    background: #FFFFFF;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    &__img{
        width: 100%;
        height: 260px;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__content{
        padding: 27px 31px 25px 28px;
    }
    &__title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 26px;
        color: #000000;
        text-align: center;
        margin-bottom: 17px;
    }
    &__description{
        margin-bottom: 12px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #666666;
        
    }
    &__stack{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 26px;
        color: #42446E;
        margin-bottom: 21px;
        &-title{
            font-size: 16px;
          
        }
       
        
    }
    &__view{
        display: flex;
        justify-content: space-between;
    }
    &__live{
        display: flex;
        align-items: center;
        gap: 10px;
        &-icon{
            width: 20px;
            height: 20px;
            flex-shrink: 0;
        }
        &-link{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-decoration-line: underline;
            text-underline-offset: 3px;
            color: #000000;
               
        }
    }
}

@media screen and (max-width:1200px){
    .project{
        margin-bottom: 80px;
        &__row{
            margin-top: 96px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap:30px;
        }
    }

.item-project{

    &__img{
        width: 100%;
        height: 260px;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__content{
        padding: 10px;
    }
    &__title{

        font-size: 20px;
        margin-bottom: 10px;
    }
    &__description{
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 21px;
        
    }
    &__stack{
        margin-bottom: 15px;
    }
    &__view{
        gap: 10px;
    }
    &__live{
        gap: 8px;
      
        &-link{
            font-size: 13px;
               
        }
    }
}
}
@media screen and (max-width:768px){
    .project{
        &__row{
            margin-top: 60px;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            gap:20px 0;
        }
    }

    


}