.stack{
    margin-bottom: 214px;
    &__grid{
        margin-top:140px ;
        display: grid;
        gap: 78px;
        grid-template-columns: repeat(6,1fr);
    }
    &__item{
        display: flex;
      
        img{
            height: 100%;
            max-width: 100%;
        }
    }
}

@media screen and (max-width:1200px){
    .stack{
        margin-bottom: 80px;
        &__grid{
            margin-top:80px;
            gap:40px;
            grid-template-columns: repeat(4,1fr);
        }
        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@media screen and (max-width:768px){
    .stack{
        &__grid{
            gap:20px;
            grid-template-columns: repeat(2,1fr);
            max-width: 400px;
            margin: 50px auto 0;
        }
        &__item{
          
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}